.menu-style-2 {
    .page-header {
        .header__content {
            min-height: 136px;
            .minicart-wrapper {
                .action.showcart {
                    position: relative;
                    width: 43px;
                    span.qty { 
                        margin: 0;
                        padding: 0;
                        border-left: 0;
                        border-left-color: transparent;
                        position: absolute;
                        top: 0; 
                        font-size: 11px;
                        background-color: @gold-color; 
                        width: 14px;
                        height: 14px; 
                        right: 0;
                        text-align: center;
                        .counter-number {
                            color: @white-color !important; 
                        }
                    }
                    svg {
                        margin-right: 0;
                        width: 18px;
                        height: 18px;
                    }
                }
            }
            .ox-megamenu{
                .ox-megamenu-navigation{
                    .level0{
                        &.active{
                            a{ 
                                span.name {
                                    &:after{
                                        border-bottom: 2px solid @gold-color;
                                        transform-origin: left center;
                                        position: absolute;
                                        content: "";
                                        bottom: -8px;
                                        opacity: 1;
                                        transform: scale(1, 1);
                                        left: 0;
                                    }
                                }
                            }
                        }
                        a{ 
                          span.name {
                                &:after{
                                    position: absolute;
                                    content: "";
                                    bottom: -8px;
                                    left: 0;
                                    width: 100%;
                                    opacity: 0;
                                    transform: scale(0,1);
                                    transform-origin: left center;
                                    border-bottom: 2px solid @white-color;
                                    transition: transform .3s,opacity .3s;
                                }
                            }
                        }
                        &:hover{                           
                            a{
                                &:before{
                                    opacity: 0;
                                    transform: scaleY(0);
                                    background: transparent;
                                }
                                 &:after{
                                    opacity: 0;
                                }
                                span{
                                    &:after{
                                        opacity: 1;
                                        transform: scale(1,1);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }   
        .header-nav-wide {
            .ox-megamenu {
                >ul {
                    >.level0 {
                        >.level-top {
                            &:before {
                                height: 100%;
                            }
                        }
                    }
                }
            }
            .navigation {
                >ul {
                    >.level0 {
                        >.level-top {
                            &:before {
                                height: 100%;
                            }
                        }
                    }
                }
            }
        } 
        .action-search-slideout {
            svg {
                width: 18px;
            }
        }
        .header__item-account {
            .athlete2-icon-login {
                font-size: 18px;
            }
        }
    } 
} 
.ox-megamenu__dropdown{
    .ox-megamenu-block{ 
        .no-padding{
            a{
                font-size: 20px;
            }
        }
    }
}
.currency-code-name {
    display: none;
}
.page-header{
    .header-nav-wide {
        border-top: 0;
    } 
    .logo__container{
        margin: 0;
        width: auto;
        padding-left: 20px;
        padding-right: 10px;
    }
    .ox-megamenu {  
        >ul{          
            justify-content: end;
            >.level0{
                >.level-top{
                    padding: 6px 35px;
                    &:before{
                        height: calc(100%) !important;
                    }
                }
            } 
        }
    }
}
   
.header-banner-below {
    text-transform: uppercase;
    font-size: 18px;
}
.breadcrumbs{
    ul{
        li.item {
            text-transform: uppercase;
            font-size: 16px;
            color:@dark-color;
            font-family: @font-gotham-book;
            a{
                color:@dark-color;
                &:hover{
                    background-color: transparent;
                    color: @gold-color;
                }
            }
        }
    }
}
nav.ox-megamenu{
    .ox-megamenu-navigation{
        .level0 {
            &.active{
                a{
                    &:before{                    
                        background: transparent;
                    }
                }
            }
        }
    } 
}
.ox-modals__holder{
    .ox-slideout-top{
        height: 125px;
        .header__search-wrapper{
            max-width: 800px;
            .form{
                input{
                   font-size: 25px;
                   border: 3px solid @gold-color;
                }
                .label{
                    font-size: 25px;
                }
                .input-focused{
                    .label{
                        font-size: 25px;
                    }
                }
                .animated-text--masked {
                    top: -26px;
                    .inner{
                        padding: 0;
                    }
                }
            } 
        }
    }
}

.modal__left{
    .ox-megamenu-navigation{
        .category-item.has-active{
            > .level-top{
                background: transparent;
                &:before{
                   background: transparent; 
                }
                span.name {
                    &:before{
                        position: absolute;
                        content: "";
                        bottom: -8px;
                        left: 0;
                        width: 100%;
                        transform-origin: left center;
                        border-bottom: 2px solid @gold-color;
                        transition: transform .3s,opacity .3s;
                    }
                }
            }
        }
    } 
}
.checkout-index-index{
    .counter-number {
        background: @gold-color;
        padding: 4px;
    }
}
.clothing-accessories{
    .ox-megamenu__dropdown{
        .ox-megamenu-list{
            li{
                a{
                    .name{
                        &:after{
                          display:none;
                        }
                    }
                }
            }
        }
    }
}
.home-bar{
    .ox-megamenu__dropdown{
        .ox-megamenu-list{
            li{
                a{
                    .name{
                        &:after{
                          display:none;
                        }
                    }
                }
            }
        }
    }
}


li.active.category-item.level-top.level0 {
    background-color: @black-color;
}

.ox-dropdown.ox-links-drop {
    .header.links {
        font-family: @font-gotham-book;
    }
}

#switcher-currency.switcher {
    margin-left: 22px;
    .options {
        .action.toggle {
            &:after {
                content: '\e607';
                right: 5px;
                width: 8px;
                height: 2px;
                background-color: @white-color;
                display: none;
            }
            &:before {
                right: 5px;
                top: 8px;
                background-color: @white-color;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 6px 0 6px;
                border-color: @white-color @black-color @black-color @black-color;
                transform: inherit;
            }
            &.active {
                &:after {
                    content: '\e618';
                }
            }
        }
    }
    strong {
        font-size:14px;
        font-family: @font-gotham-book;
        img {
            max-width: 18px;
            vertical-align: middle;
            margin-right: 5px;
            max-width: 22px;
        }
    }
    ul.dropdown.switcher-dropdown {
        min-width: 115px;
        li {
            img {
                max-width: 18px;
                vertical-align: middle;
                margin-right: 5px;
                max-width: 22px;
            }
        }
    }
}


.page-wrapper {
    .switcher-in-footer {
        #switcher-currency-trigger {
            strong {
                span {
                    padding-left: 5px;
                    color: @white-color;
                    vertical-align: middle;
                }
            }
        }
        #switcher-currency {
            margin-left: 0;
            ul.dropdown.switcher-dropdown {
                left: 0; 
                right: 0;
                margin-left: 0;
                bottom: auto; 
                top: 100%;
                background: @white-color; 
                padding: 0;
                li {
                    padding: 5px;
                }
                &::before {
                    content: "";
                    bottom: auto;
                    left: auto;
                    right: 20px;
                    top: -12px; 
                    bottom: -40px;
                    border-color: transparent transparent @white-color transparent;
                    display: block;
                }
                &:after {
                    content: "";
                    border-color: transparent transparent @dark-color1 transparent;
                    top: -14px;
                    left: auto;
                    right: 20px;
                    display: block;
                }
            }
            .options {
                line-height: 1;
            }
            .action.toggle.switcher-trigger {
                margin-bottom: 0;
                padding-left: 0;
                background: transparent;
            }
        }
        &.switcher-in-header {
            .switcher {
                line-height: 1;
                &#switcher-currency {
                    .options {
                        .action.toggle {
                            &:before {
                                top: 9px;
                            }
                        }
                    }
                    ul.dropdown.switcher-dropdown {
                        min-width: auto;
                    }
                }
            }
        }
    }
}

.header__additional-content {
    background-color: @gold-color;
}
.free-shipping-bar {
    text-align: center;
    width: 100%;
    line-height: 35px;
    .content {
        font-weight: 400;
        text-align: center;
        font-size: 18px;
        padding: 10px;
        text-transform: uppercase;
        font-family: @font-gotham-book;
        line-height: 1.7;
        display: inline-block;
    }
}

.minicart-items {
    dl.product{
        &.options.list { 
            dt {
                width: auto;
                margin-right: 5px;
            }
        }
    }
}