.login-container {
    .block-customer-login {
        .actions-toolbar {
            .secondary {
                .action {
                    &::after {
                        background-color:transparent;
                    }
                    &:hover {
                        color: @gold-color;
                        &::after {
                            background-color:transparent;
                        }
                    }
                }
            }
        }
    }
    .block {
        .secondary {
            >a.action {
                font-family: @font-gotham-book;
            }
        }
    }
    input {
        font-family: @font-gotham-book;
    }
    label {
        font-family: @font-gotham-book;
    }
    .field-error{
        font-family: @font-gotham-book;
    }
}
.form {
    &.password {
        &.forget {
            .actions-toolbar {
                .secondary {
                    .action {
                        &:hover {
                            color: @gold-color;
                            &::after {
                                background-color:@white-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

.action {
    &.captcha-reload {
        background:@black-color;
        font-size: 0;
        padding: 14px 15px;
        &:hover {
            background-color: @gold-color;
        }
        &:before {
            content: "\f2f1";
            font-family: "Font Awesome 5 Free";
            display: block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            font-size: 22px;
            font-weight: 900;
        }
        &::after {
            display: none;
        }
    }
}

.form-create-account {
    fieldset {
        &.fieldset {
            &.additional_info {
                padding-right: 25px;
                margin-top: -60px;
            }
        }
    }
}