
.review-list {
	.review-items {
		.rating-summary {
			.rating-result {
				width: auto;
				&::before {
					content: '\62' '\62' '\62' '\62' '\62';
					font-size: 20px;
				}
				> span {
					&:before {
						content: '\62' '\62' '\62' '\62' '\62';
						font-size: 20px; 
					}
				}
			}
		}	 
	}
}
.review-field-ratings {
	.review-control-vote {
		&::before {
			content: '\62' '\62' '\62' '\62' '\62';
			font-size: 20px;
		}
		.rating {
			&-1 {
				&:before {
					content: '\62';
					font-size: 20px; 
				}
			}
			&-2 {
				&:before {
					content: '\62' '\62';
					font-size: 20px; 
				}
			}
			&-3 {
				&:before {
					content: '\62' '\62' '\62';
					font-size: 20px; 
				}
			}
			&-4 {
				&:before {
					content: '\62' '\62' '\62' '\62';
					font-size: 20px; 
				}
			}
			&-5 {
				&:before {
					content: '\62' '\62' '\62' '\62' '\62';
					font-size: 20px; 
				}
			}
		}
	}
	.review-field-rating {
		.control {
			width: 113px;
			position: relative;
		}
	}
}

.catalog-product-view {
    .athlete2_product__bottom {
        .block {
            .title {
                strong {
                    font-weight: @font-weight-400;
                }
            }
        }
    }
    .block-viewed-products-grid{
        .block-title{
            strong{
                font-weight: @font-weight-400;
            }
        }
    }
    .pswp__counter {
        font-weight: @font-weight-400;
    }
	.giftcard-information-delivery-content {
		margin-top: 10px;
		&.fieldset > {
			.field:not(.choice) {
				> .label {
					background: transparent;
    				padding: 0;
					text-transform: capitalize;
				}
			}
		}
	}
}
.block-viewed-products-grid {
    margin-top: 70px;
}
.product-info-main {
    margin-top: 0;
    .stock {
        &.available {
            color: @green-color;
        }
        &.unavailable {
            color: @red-color;
        }
    }
	.normal-price {
		padding-right: 10px;
	}
	.special-price {
		padding-right: 10px;
	}
    .product-info-price {
        flex-wrap: wrap;
        align-items: end;
        font-family: @font-gotham-book;
        .product-info-stock-sku {
            margin-bottom: 10px;
            width: 100%;
            .type {
                &::after {
                    content: ":";
                }
            }
            .value {
                font-weight: @font-weight-600;
            }
        }
    }
    .product.data.items {
        > .item.title {
            > .switch {
                font-size: 22px;
                font-weight: @font-weight-400;
                font-family: @font-knockout;
            }
        }
    }
    .product {
        &.attribute {
            &.sku {
                color:@dark-color;
            }
        }
        
    }
}

.product-info-main {
	.product.attribute.overview {
		font-family: @font-gotham-book;
	}
	.input-box {
		.options-list {
			li {
				display: flex;
				align-items: center;
				input[type="checkbox"] {
					margin-top: 0;
					top: 0;
				}
			}  
		}
	}
}
.product-sale-label {
    position: absolute;
    background: @gold-color;
    display: inline-block;
    z-index: 9;
    padding: 6px 10px;
    color: @white-color; 
    font-weight: 600;
    left: 10px;
    top: 10px;
	line-height: 1.2;
}
.giftcard-information-container {
	.giftcard-field-wrapper {
		ul {
			li {
				.giftcard-design-button {
					font-family: @font-gotham-book;
					font-size: 14px;
					width: 100%;
    				min-width: 95px;
				}
			}
		}
	}
	.giftcard-field-label {
		font-family: @font-gotham-book;
		text-align: left;
		width: 85px;
	}
}

.giftcard-template-setting-content{
    .owl-carousel{
        .owl-item{
            width: 80px !important;
            float: left !important;
        }
        .owl-stage-outer{
            padding: 20px 0;
        }
    }
}

.giftcard-template-setting{
    .giftcard-template-setting-select{
        display: none;
    }
}

.admin__data-grid-outer-wrap {
	    .block-viewed-products-grid{
	    	.block-title{
	    		strong {
				    font-size: 36px;
				}
	    	}
	    }
	}
.mp-giftcard-preview{
	display:none;
}


select{
	font-family: @font-gotham-book;
}

.product-info-main {
	.box-tocart {
		.input-text.qty {
			font-family: @font-gotham-book;
			-moz-appearance: textfield;
		} 
		.action.tocart {
			line-height: initial;
		}
	}
}
input[type="number"] {
    -moz-appearance: textfield;
}

.product.attribute.description {
	font-family: @font-gotham-book;
	.value {
		p {
			font-family: @font-gotham-book !important;
			span{
				font-family: @font-gotham-book !important;
			}
		}
		ul {
			li {
				font-family: @font-gotham-book !important;
				span {
					font-family: @font-gotham-book !important;
					vertical-align: top;
				}
			}
		}
	}
}

button.giftcard-design-button {
	span {
		font-family: @font-gotham-book;
	}
}

#preview-giftcard-title{
	font-family: @font-gotham-book;
}

#preview-giftcard-message{
	font-family: @font-gotham-book;
}

input[type="text"] {
	font-family: @font-gotham-book;
}

textarea {
	font-family: @font-gotham-book;
}

.giftcard-template-container {
	.giftcard-template-setting {
		.block-title {
			font-family: @font-gotham-book;
		}
	}
}

.product-e-gift-card {
	.fieldset {
		>.field {
			.note {
				&::before {
					width: 0px;
					display: none;
				}
			}
		}
	}
}

.product-info-main {
	.product-options-wrapper {
		span {
			font-family: @font-gotham-book;
		}
	}
}

.options-list{
	font-family: @font-gotham-book;
}


.product-guinnessr-gravity {
	main#maincontent{
		padding-left: 0;
    	padding-right: 0;
    	.product-info-main {
		    padding-right: 60px;
		}
		.product.media {
		    padding-left: 60px;
		}
	}

	.athlete2_product__bottom {
	    padding: 60px;
	}
	.admin__data-grid-outer-wrap {
	    padding: 0 75px;
	    .block-viewed-products-grid{
	    	.block-title{
	    		strong {
				    font-size: 36px;
				}
	    	}
	    }
	}
	.product-guinnessr-lef {
		background: @black-color;
		width: 50%;
		padding: 40px;
		.product-fix {
			max-width: 500px;
			margin-left: auto;
			p {
				color: @white-color !important;
				font-size: 16px;
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.product-guinnessr-right {
		width: 50%;
		background: @gold-color1;
		padding: 40px;
		.product-fix {
			h5 {
				margin-bottom: 30px;
			}
		}
	}
	.product-guinnessr-items {
		li {
			color: @black-color !important;
			font-size: 16px;
			margin-bottom: 8px;
		}
	}
	.product-video-text {
		text-align: center;
		padding: 70px 15px;
		background: @black-color;
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
		h4 {
			font-size: 36px;
			color: @white-color;
			margin-bottom: 20px;
			font-family: @font-knockout;
		}
		p {
			font-size: 16px;
			color: @white-color !important;
			margin-bottom: 0;
		}
	}
	.product-video-section {
		background: @black-color;
	} 
	.ma-main-container.col1-layout {
		.product-guinnessr-main {
			.container {
				max-width: 1170px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	.arar-review-heading {
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
	}
	#arar-review-container {
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
	}
	.product-guinnessr-images {
		margin-left: -10px;
		margin-right: -10px;
		padding: 60px 0;
	}
	.presentation-box-text {
		background: @gold-color1;
		width: 50%;
		display: flex;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
	}
	.presentation-box-img {
		width: 50%;
		img {
			width: 100%;
		}
	}
	.presentation-box-center {
		text-align: center;
		width: 100%;
		max-width: 440px;
		margin: 0 auto;
		padding: 15px;
		p {
			font-size: 16px;
			color: @white-color !important;
		}
		h4 {
			color: @white-color;
			font-size: 30px;
			margin-bottom: 20px;
		}
	}
	.product-bottom-banner {
		img {
			width: 100%;
		}
	}
	#bgvideo {
		display: none;
	}
	.video-placeholder {
		display: block;
		cursor: pointer;
	} 
	.product-container {
		max-width: 1154px;
		margin: auto;
	}
	.product-guinnessr-items {
		padding-left: 15px;
	} 
}

.mfp-auto-cursor {
	.mfp-content {
		.wp-confirmation-popup { 
			button.mfp-close {
				&:hover {
					color: @white-color;
				}
			}
			.product-item-photo {
				margin-right: 15px;
			}
			.cart-details-wrapper {
				.subtotal {
					.subtotal-value {
						font-weight: 600;
					}
					.total-items {
						font-weight: 600;
					}
				}
			}
			.action-buttons {
				padding-bottom: 0;
			}
			.product-item-pricing {
				.new-price {
					color: @black-color;
				}
			}
		}
	}
}

.pschart-showsizes {
    text-align: right;
}
.pschart-selector {
	display: inline-block;
    margin-bottom: 20px;
    padding: 0;
    color: @black-color;
	text-decoration: underline;
	font-weight: 600;
	&:before {
		content: "";
		background-image: url(../images/size-guide-ico.png);
		height: 10px;
		width: 24px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 8px;
	}
	&:hover {
		border-color: @gold-color;
		color: @gold-color;
	}
}

.pschart-content {
	.table_size {
		margin-bottom: 20px;
		overflow: auto;
		display: block;
		tr {
			&:nth-child(odd) {
				background: @green-100;
			}
		}
		th {
			background: @graty-color;
			padding: 10px 5px;
			text-align: center;
			border: 1px solid @white-color;
			text-transform: uppercase;
		}
		td {
			border: 1px solid @white-color;
			vertical-align: middle;
			padding: 10px 5px;
			text-align: center;
			border: 1px solid @graty-color;
			font-size: 14px!important;
			color: @gray-color;
			font-weight: 700;
		}
	}
}

.review-form-actions {
	.actions-primary {
		> .action{
			&:after { 
				display: block; 
			}
		}
	}
}