.product-item {
	.product-item-name {
		font-size: 16px;
	}
}

.toolbar-products{
	font-family: @font-gotham-book;
}

.ox-product-scroll{
	font-family: @font-gotham-book;
}

.filter-options-content {
	.noUi-value {
		font-family: @font-gotham-book; 	
	}
}